{% extends "app/Resources/views/layout.html.twig" %}

{% block metaTitle %}Accés interdit{% endblock %}

{% block breadcrumb %}
    <li>Accés interdit</li>
{% endblock %}

{% block menu %}{% endblock %}
    
{% block content %}
    <h3>Accés interdit</h3>
    Vous n'êtes pas autorisé à accéder à cette page.
{% endblock %}