{% extends "app/Resources/views/layout.html.twig" %}

{% block metaTitle %}Page introuvable{% endblock %}

{% block breadcrumb %}
    <li>Page inconnue</li>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
	
    <h3>Oups cette page est inconnue</h3>
{% endblock %}