{% extends "app/Resources/views/layout-portail.html.twig" %}

{% block metaTitle %}Christian ALCON{% endblock %}

{%set menu = 'portail' %}

{% block content %}
  <h3>Portail des applications de Christian ALCON</h3>
{% endblock %}