<!DOCTYPE html>
<html>
  <head>
    <title>Applications de Christian ALCON</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body style="font: 0.7em/1em Verdana, Arial, sans-serif;background-color: #FFF;width:970px;">
    <div style="padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
        <div style="float: left; border-bottom: 1px solid; padding-bottom: 20px;">
            <h1 style="font-family: 'Trebuchet MS';font-weight: bold;text-decoration: none;color: #0F5390;line-height: 0.9em;font-size: 2.68em;margin: 15px 0px 0px 0px;letter-spacing: -1px;">
                DTC - {% block title %}{% endblock %}
            </h1>
            <h2 style="font-family: 'Trebuchet MS', Verdana, Arial, sans-serif;font-weight: bold;font-size: 1.34em;color: #0F5390;letter-spacing: -1px;margin: 5px 0px 0px 0px;">
                Gestion activités de bowoling <small style="margin-left: 20px;letter-spacing: 0;font-size: 85%;font-weight: normal;line-height: 1;color: #999;">Résultat de l'import</small>
            </h2>
        </div>
        {% block content %}{% endblock %}
    </div>
  </body>
</html>