{# 
    Lien pour ajouter un nouveau record :
        * livre,
        * thème,
        * écrivain,
        * ...
#}
<a href="{{ path('jardin-' ~ route ~ '-ajout') }}">
    Ajouter un{{ genre == 'f' ? 'e' : '' }} 
    nouve{{ genre == 'f' ? 'lle' : 'au' }}
    {{ menu }}
</a>
