{% extends "src/Bowling/Resources/views/layout.html.twig" %}

{% set menu = 'Reporting' %}

{% block breadcrumb %}
    {{ parent() }}
    <li>{{ menu }}</li>
    <li>Graphique les extrèmes</li>
    {% endblock %}

{% block content %}
    <h3></h3>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ chart|raw }}
        </div>
    </div>
{% endblock %}