/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 mars 2014, 11:19:47
    Author     : glr735
*/

.table-indicateurs {
    padding-right: 10px;
    padding-left:   5px;
}

ul.nav.nav-tabs.nav-justified {
    margin-top: 15px;
}

/*
 * trait au dessus d'une ligne total
 ****************************************************/
.table > tfoot > tr > td,
.table > tfoot > tr > th {
    border-top: 2px solid #7CC3E7;
}

/*.table-hover > tbody > tr:hover > td, */
.table-hover > tbody > tr:hover > th {
    background-color: #7CC3E7;
}

/******************************************************************************/
/*
 * Ventilation automatique de la largeur des colonnes
 ****************************************************/

#tableau-carburant.table > thead > tr > th.w1 {
    width: 5.6923%;
}

#tableau-carburant.table > thead > tr > th.w2 {
    width: 8.6923%;
}

/* 7 colonnes */
#tableau-fiscalite.table > thead > tr > th
{
    width: 14.2857%; /* 100 / 7 */
}

/* 8 colonnes */
#tableau-perte.table > thead > tr > th,
#tableau-location.table > thead > tr > th 
{
    width: 12.5%; /* 100 / 8 */
}

/* 9 colonnes */
#tableau-forfaits.table > thead > tr > th,
#tableau-forfait-ida.table > thead > tr > th,
#tableau-carrosserie.table > thead > tr > th,
#tableau-peages.table > thead > tr > th,
#tableau-entretiens.table > thead > tr > th,
#tableau-pneu-hiver.table > thead > tr > th,
#tableau-pneu-ete.table > thead > tr > th 
{
    width: 11.1111%; /* 100 / 9 */
}
/* 18 colonnes */
#tableau-parc.table > thead > tr > th {
    width: 5.5555%; /* 100 / 18 */
}
/******************************************************************************/

/*
 * Permet de mettre les tableaux de paramètre à gauche du tableau de données
 ******************************************************************************/
.auto-left {
    width: auto; 
    overflow: auto;
}
/******************************************************************************/

/*
 * Style des champs textes
 ******************************************************************************/
.table > tbody > tr > td > input {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: right;
}
/******************************************************************************/