{%set menu = 'profil' %}

{% extends "src/GestionReservationAuto/Resources/views/layout.html.twig" %}



{% block content %}
    <h3>Modifier son profil</h3>

    {% include 'src/GestionReservationAuto/Resources/views/user/fragments/form.html.twig' with { 'currentUser' : user.sourceAgent } %}
{% endblock %}
